@charset "UTF-8";
*{margin:0; padding:0;}

.noticemodal{
  display:none;
  position:fixed; 
  width:100%; height:100%;
  top:0; left:0; 
  background:rgba(0,0,0,0.3);
}

.modal-con{
  display:none;
  position:fixed;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  max-width: 60%;
  min-height: 10%;
  background:#fff;
}
.modal-con .noticetitle{
  font-size:20px; 
  padding: 20px;
  font-family: emoji;
  color: white;
  background : url('../img/noticemodal.jpg');
  background-size : cover;
}
.modal-con .warntitle{
  font-size:20px; 
  padding: 20px;
  font-family: emoji;
  background : url('../img/warningmodal.jpg');
  background-size : cover;
}
.modal-con .con{
  font-size:15px; 
  line-height:1.3;
  padding: 30px;
  text-align : center;
  width:400px;
}
.modal-con .modalclose{
  display:block;
  position:absolute;
  width:30px; height:30px;
  text-align:center; line-height: 30px;
  text-decoration:none;
  color:#000; font-size:20px; font-weight: bold;
  right:10px; top:10px;
}
